<div class="flex flex-col items-center p-6">
  <h1 class="text-5xl md:text-7xl font-bold font-rounded text-accent pt-40"><%= t('.title') %></h1>
  <p class="text-sm sm:text-lg pt-6"><%= t('.sub_title') %></p>
  <div class="pt-8 flex justify-betweet space-x-4 sm:space-x-8 items-center">
    <%= link_to t('.start'), posts_path, class: "btn btn-primary rounded-lg py-2 sm:py-3 text-xs sm:text-sm text-textLight"%>
    <%= link_to t('.login'), new_user_session_path, class: "btn btn-success rounded-lg py-2 sm:py-3 text-xs sm:text-sm text-textLight"%>
  </div>
</div>

<%= render  'shared/footer_links' %>