<div class="flex flex-col items-center p-6">
  <h1 class="text-5xl md:text-7xl font-bold font-rounded text-accent pt-40">Purin Mania</h1>
  <p class="text-sm sm:text-lg pt-6">理想のプリンが、きっと見つかる！</p>
  <div class="pt-8 flex justify-betweet space-x-4 sm:space-x-8 items-center">
    <%= link_to "プリンを探す", posts_path, class: "btn btn-primary rounded-lg py-2 sm:py-3 text-xs sm:text-sm text-textLight"%>
    <%= link_to "ログインする", new_user_session_path, class: "btn btn-success rounded-lg py-2 sm:py-3 text-xs sm:text-sm text-textLight"%>
  </div>
</div>

<div class="flex justify-center absolute bottom-20 sm:bottom-24 w-full space-x-4 mb-0 text-sm sm:text-[16px]">
  <%= link_to "利用規約", terms_of_service_path, class: "text-accent hover:underline" %>
  <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-accent hover:underline" %>
  <%= link_to "お問い合わせ", contact_path, class: "text-accent hover:underline" %>
</div>