<div class="flex flex-col justify-between items-center h-full mt-8">
  <div class="w-full max-w-md">
    <h2 class="text-neutral text-2xl font-bold text-center mb-6"><%= t('.title', resource: resource.model_name.human) %></h2>
    
    <div class="bg-base-100 p-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-4">
          <%= f.label :name, class: "block text-neutral font-semibold mb-2" %>
          <%= f.text_field :name, class: "input input-bordered w-full bg-white" %>
        </div>

        <div class="mb-4">
          <%= f.label :avatar, class: "block text-neutral font-semibold mb-2" %>
          <%= f.file_field :avatar, accept: 'image/*', class: "file-input custom-file-input" %>
        </div>

        <% if resource.avatar.attached? %>
          <div class="mb-4 w-24 h-24 overflow-hidden rounded-full">
            <%= image_tag resource.avatar.variant(resize_to_fill: [100, 100]), class: "w-full h-full object-cover" %>
          </div>
        <% end %>

        <div class="text-center mt-12">
          <%= f.submit t('.update'), class: "btn btn-primary text-white w-20" %>
        </div>
      <% end %>

      <div class="text-center mt-4">
        <%= link_to t('devise.shared.links.back'), :back, class: "text-accent hover:underline" %>
      </div>
    </div>
  </div>
</div>