<% content_for(:title, t('.title')) %>
<div id="search-container" class="fixed top-28 sm:top-4 left-1/2 transform -translate-x-1/2 z-10 flex justify-center space-x-2 w-4/5 sm:w-3/5 scale-90 sm:scale-100">
  <input id="pac-input" class="controls input input-bordered input-sm flex-grow text-[16px] bg-white" type="text" placeholder="店名/地名">
  <button id="current-location-btn" class="btn btn-sm btn-primary text-xs sm:text-sm text-white">現在地</button>
</div>
<div id="map-container" class="flex-grow w-full">
  <div id="map" class="relative w-full h-full">
    <div class="absolute inset-0 flex items-center justify-center">
      <img src="<%= asset_path('apple-touch-icon.png') %>" class="w-6 h-6 animate-bounce-slow" alt="Loading">
    </div>
  </div>
</div>

<dialog id="post_modal" class="modal">
    <div class="modal-box bg-white">
        <div class="post_show"></div>
    </div>
</dialog>

<script>
let map, marker;

const latlngDis = document.getElementById('latlngDisplay');
const addressDis = document.getElementById('addressDisplay');
const iconImage = 'https://maps.google.com/mapfiles/ms/micons/yellow-dot.png';
const currentLocation = 'https://www.google.com/mapfiles/marker.png';

function initMap() {
  const geocoder = new google.maps.Geocoder();

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
  });

  // 検索ボックスの初期化
  const input = document.getElementById("pac-input");
  const searchBox = new google.maps.places.SearchBox(input);

  const currentLocationBtn = document.getElementById('current-location-btn');
  currentLocationBtn.addEventListener('click', showCurrentLocation);

  // 検索結果を現在のマップビューポートにバイアスをかける
  map.addListener("bounds_changed", () => {
    searchBox.setBounds(map.getBounds());
  });

  let markers = [];

  // ユーザーが予測を選択したときのイベントリスナー
  searchBox.addListener("places_changed", () => {
    const places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // 古いマーカーを削除
    markers.forEach((marker) => {
      marker.setMap(null);
    });
    markers = [];

    // 各場所に対して、アイコン、名前、位置を取得
    const bounds = new google.maps.LatLngBounds();
    places.forEach((place) => {
      if (!place.geometry || !place.geometry.location) {
        console.log("Returned place contains no geometry");
        return;
      }
      if (place.geometry.viewport) {
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });

  showCurrentLocation();
  setShopMarkers();

  document.addEventListener('click', function(event) {
    const modal = document.getElementById('post_modal');
    if (event.target === modal) {
      modal.close();
    }
  });
}

function setShopMarkers() {
  <% @posts.each do |post| %>
    (() => {
      let shopMarker = new google.maps.Marker({
        position: {lat: <%= post.shop.latitude %>, lng: <%= post.shop.longitude %>}, 
        map: map,
        title: '<%= j post.shop.name %>',
        icon: iconImage
      });

      shopMarker.addListener('click', function() {
        const modalContent = `
        <% if user_signed_in? %>
          <div class="flex justify-end mb-2">
            <div class="flex items-center">
              <div>
                <%= render 'posts/like_buttons', { post: post } %>
              </div>
              <div class="text-xs text-gray-500 w-[2ch] text-left pr-4 cursor-pointer hover:underline" onclick="like_modal_<%= post.id %>.showModal()" id="like-count-<%= post.id %>">
                <%= post.likes.count %>
              </div>
              <%= render 'posts/like_modal', post: post %>
            </div>
            <% if post.user != current_user %>
              <div>
                <%= render 'posts/bookmark_buttons', { post: post } %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center justify-end mb-2">
            <div class="text-sweetDeep">
              <i class="far fa-heart text-[18px] sm:text-[20px] pl-0.5 pr-1.5"></i>
            </div>
            <div class="text-xs text-gray-500 w-[2ch] text-left" id="like-count-<%= post.id %>">
              <%= post.likes.count %>
            </div>
          </div>
        <% end %>
        <div class='text-center'>
          <div class='text-xs sm:text-[12px] text-subtleText'><%= t("enums.post.category.#{post.category}") %></div>
          <div class='text-lg sm:text-[18px] font-semibold'><%= post.shop.name %></div>
        </div>
        <div class='flex justify-center'>
          <% if post.image.present? %>
            <%= image_tag post.image.variant(resize_to_fill: [800, 800], format: :webp), class: 'object-cover w-60 h-60 mt-2 sm:mt-3' %>
          <% else %>
          <% end %>
        </div>
        <div class='flex flex-col items-center justify-center mt-2 sm:mt-3'>
          <div class="mb-1 flex justify-center space-x-1">
            <% Post.overall_ratings.size.times do |i| %>
              <span 
                class="inline-block w-6 h-6 sm:w-7 sm:h-7 mask mask-star-2 <%= i < Post.overall_ratings[post.overall_rating] ? 'bg-accent' : 'bg-placeholder' %>"
                aria-hidden="true"
              ></span>
            <% end %>
          </div>
          <div class="flex flex-wrap items-center mb-3 text-sm sm:text-[18px] text-center sm:text-left">
            <div class="flex items-center">
              <div class="tooltip" data-tip="<%= t("tooltips.sweetness", percentage: post.sweetness_percentage) %>">
                <span class="badge text-[10px] sm:text-xs py-2 sm:py-2.5 <%= sweetness_badge_color(post.sweetness) %> mr-0.5 sm:mr-1"><%= t("enums.post.sweetness.#{post.sweetness}") %></span>
              </div>
            </div>
            <div class="flex items-center">
              <div class="tooltip" data-tip="<%= t("tooltips.firmness", percentage: post.firmness_percentage) %>">
                <span class="badge text-[10px] sm:text-xs py-2 sm:py-2.5 <%= firmness_badge_color(post.firmness) %>"><%= t("enums.post.firmness.#{post.firmness}") %></span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <div class="text-left max-w-md mx-4 sm:mx-6">
            <p class="text-sm sm:text-[16px] text-subtleText">
              <i class="fa fa-map-marker-alt mr-2 text-accent"></i><%= post.shop.address %>
            </p>
            <div class='my-2 sm:my-3 text-text text-opacity-80'>
              <p><%= post.body.truncate(55) %></p>
            </div>
          </div>
        </div>
        <div class='mt-1 sm:mt-2 flex justify-center space-x-2 text-center'>
          <%= link_to t('.to_show'), post_path(post), data: { turbo: false }, class: "block w-1/2 text-center text-[12px] sm:text-[14px] py-2 px-4 border border-accent text-accent bg-white hover:bg-accent hover:text-white transition duration-300 ease-in-out rounded-sm" %>
          <%= link_to t('.to_route'), "https://www.google.com/maps/dir/?api=1&destination=#{CGI.escape(post.shop.name + ' ' + post.shop.address)}", target: :_blank, class: "block w-1/2 text-center text-[12px] sm:text-[14px] py-2 px-4 border border-accent text-accent bg-white hover:bg-accent hover:text-white transition duration-300 ease-in-out rounded-sm" %>
        </div>
        `;
        document.querySelector('.post_show').innerHTML = modalContent;
        document.getElementById('post_modal').showModal();
      });
    })();
  <% end %>
}

function showCurrentLocation(){
    // ユーザーの現在地を取得してマップに設定
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
        const userLocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        };
        map.setCenter(userLocation);
        if (marker) {
            marker.setMap(null);
        }
        
        // 新しいマーカーを作成
        marker = new google.maps.Marker({
            position: userLocation,
            map: map,
            icon: currentLocation // 現在地用のアイコンを使用
        });
        latlngDis.innerHTML = `Latitude: ${userLocation.lat}, Longitude: ${userLocation.lng}`;
        }, function() {
        alert('位置情報の取得に失敗しました。');
        map.setCenter({ lat: 35.6803997, lng: 139.7690174 }); // 東京の座標
        });
    } else {
      // Geolocationがサポートされていないブラウザの場合
        alert('お使いのブラウザでは地理位置情報の取得がサポートされていません。');
      map.setCenter({ lat: 35.6803997, lng: 139.7690174 }); // 東京の座標
    };
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>