<div class="navbar bg-main p-3 h-16 fixed top-0 left-0  w-full z-10">
  <div class="flex-1">
    <%= link_to image_tag("logo.png", class: "h-6 sm:h-9"), root_path %>
  </div>
  <div class="flex-none">
    <label for="my-drawer-4" class="drawer-button btn btn-ghost p-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-accent">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>  
    </label>
  </div>
</div>

<div class="drawer drawer-end z-50">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer-4" class="drawer-overlay z-40"></label>
    <ul class="menu bg-base bg-opacity-80 text-base-content min-h-full w-80 p-4 z-50">
      <li><%= link_to t('header.login'), new_user_session_path, class: "hover:bg-accent hover:text-white" %></li>
      <li><%= link_to t('header.sign_up'), new_user_registration_path, class: "hover:bg-accent hover:text-white" %></li>
      <li><%= link_to t('header.how_to'), root_path, class: "hover:bg-accent hover:text-white" %></li>
      <div class="divider divider-default"></div>
      <li><%= link_to t('header.maps_path'), maps_path, data: { turbo: false }, class: "hover:bg-accent hover:text-white" %></li>
      <li><%= link_to t('header.posts_path'), posts_path, class: "hover:bg-accent hover:text-white" %></li>
      <div class="divider divider-default"></div>
      <li><%= link_to t('header.terms_of_service_path'), terms_of_service_path, class: "hover:bg-accent hover:text-white" %></li>
      <li><%= link_to t('header.privacy_policy_path'), privacy_policy_path, class: "hover:bg-accent hover:text-white" %></li>
      <li><%= link_to t('header.contact_path'), contact_path, class: "hover:bg-accent hover:text-white" %></li>
      <div class="divider divider-default"></div>
      <div class="text-center text-sm py-2">
        © 2024 - PurinMania
      </div>
    </ul>
  </div>
</div>