<div class="bg-base-100 p-6 rounded-md">
  <%= form_with(model: post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-4">
      <%= f.label :shop_name, t('activerecord.attributes.shop.name'), class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_field :shop_name, placeholder: t('posts.form.shop_name_placeholder'), value: @post.shop_name || @post.shop&.name, class: "input input-bordered w-full bg-white text-sm sm:text-[16px] placeholder:text-sm placeholder:text-placeholder" %>
    </div>
    
    <div class="mb-4">
      <%= f.label :shop_address, t('activerecord.attributes.shop.address'), class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_field :shop_address, placeholder: t('posts.form.shop_address_placeholder'), value: @post.shop_address || @post.shop&.address, class: "input input-bordered w-full bg-white text-sm sm:text-[16px] placeholder:text-sm placeholder:text-placeholder" %>
    </div>

    <div data-controller="status-bar">
      <div class="mb-4">
        <%= f.label :sweetness_percentage, t('activerecord.attributes.post.sweetness'), class: "block text-neutral font-semibold mb-2" %>
        <%= f.range_field :sweetness_percentage, in: 0..100, step: 1, class: "range", data: { action: "input->status-bar#updateStatus", status_bar_target: "range", attribute: "sweetness" } %>
        <div class="w-full flex justify-between text-[10px] sm:text-xs px-2">
          <div class="w-1/3 text-left"><%= t('enums.post.sweetness.mild') %></div>
          <div class="w-1/3 text-center"><%= t('enums.post.sweetness.medium_sweet') %></div>
          <div class="w-1/3 text-right"><%= t('enums.post.sweetness.sweet') %></div>
        </div>
        <p class="text-xs sm:text-sm my-2"><%= t('defaults.sweetness_confirm') %>: <span data-status-bar-target="status" data-status-bar-attribute="sweetness"></span></p>
      </div>
    
      <div class="mb-4">
        <%= f.label :firmness_percentage, t('activerecord.attributes.post.firmness'), class: "block text-neutral font-semibold mb-2" %>
        <%= f.range_field :firmness_percentage, in: 0..100, step: 1, class: "range", data: { action: "input->status-bar#updateStatus", status_bar_target: "range", attribute: "firmness" } %>
        <div class="w-full flex justify-between text-[10px] sm:text-xs px-2">
          <div class="w-1/3 text-left"><%= t('enums.post.firmness.smooth') %></div>
          <div class="w-1/3 text-center"><%= t('enums.post.firmness.medium_firm') %></div>
          <div class="w-1/3 text-right"><%= t('enums.post.firmness.firm') %></div>
        </div>
        <p class="text-xs sm:text-sm my-2"><%= t('defaults.firmness_confirm') %>: <span data-status-bar-target="status" data-status-bar-attribute="firmness"></span></p>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :overall_rating, class: "block text-neutral font-semibold mb-2" %>
      <div class="rating rating-lg flex justify-center space-x-2">
        <% Post.overall_ratings.each do |key, value| %>
          <%= f.radio_button :overall_rating, key, class: "mask mask-star-2 bg-accent" %>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :image, class: "block text-neutral font-semibold mb-2" %>
      <%= f.file_field :image, accept: 'image/*', class: "file-input custom-file-input" %>
    </div>

    <% if post.image.attached? %>
      <div class="mb-4 flex justify-center">
        <%= image_tag post.image.variant(resize_to_limit: [300, 300]), class: "rounded-lg object-cover w-64 h-64" %>
      </div>
    <% end %>

    <div class="mb-6">
      <%= f.label :body, class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_area :body, placeholder: t('posts.form.body_placeholder'), class: "textarea textarea-bordered w-full bg-white placeholder-placeholder text-sm placeholder:text-placeholder", rows: 4 %>
    </div>

    <div class="text-center">
      <%= f.submit t('defaults.post'), class: "btn btn-primary text-white w-28" %>
    </div>
  <% end %>
</div>