<div class="bg-base-100 p-6 rounded-md">
  <%= form_with(model: post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-4">
      <%= f.label :shop_name, t('activerecord.attributes.shop.name'), class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_field :shop_name, value: @post.shop_name || @post.shop&.name, class: "input input-bordered w-full bg-white" %>
    </div>
    
    <div class="mb-4">
      <%= f.label :shop_address, t('activerecord.attributes.shop.address'), class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_field :shop_address, value: @post.shop_address || @post.shop&.address, class: "input input-bordered w-full bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :sweetness, class: "block text-neutral font-semibold mb-2" %>
      <%= f.select :sweetness, 
                   Post.sweetnesses.keys.map { |s| [I18n.t("enums.post.sweetness.#{s}"), s] }, 
                   { prompt: t('defaults.select_prompt') }, 
                   class: "select select-bordered w-full bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :firmness, class: "block text-neutral font-semibold mb-2" %>
      <%= f.select :firmness, 
                   Post.firmnesses.keys.map { |f| [I18n.t("enums.post.firmness.#{f}"), f] }, 
                   { prompt: t('defaults.select_prompt') }, 
                   class: "select select-bordered w-full bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :overall_rating, class: "block text-neutral font-semibold mb-2" %>
      <div class="rating rating-lg flex justify-center space-x-2">
        <% Post.overall_ratings.each do |key, value| %>
          <%= f.radio_button :overall_rating, key, class: "mask mask-star-2 bg-accent" %>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :image, class: "block text-neutral font-semibold mb-2" %>
      <%= f.file_field :image, accept: 'image/*', class: "file-input custom-file-input" %>
    </div>

    <% if post.image.attached? %>
      <div class="mb-4 flex justify-center">
        <%= image_tag post.image.variant(resize_to_limit: [300, 300]), class: "rounded-lg object-cover w-64 h-64" %>
      </div>
    <% end %>

    <div class="mb-6">
      <%= f.label :body, class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_area :body, placeholder: t('posts.form.body_placeholder'), class: "textarea textarea-bordered w-full bg-white placeholder-placeholder", rows: 4 %>
    </div>

    <div class="text-center">
      <%= f.submit t('defaults.post'), class: "btn btn-primary text-white w-28" %>
    </div>
  <% end %>
</div>