<div class="p-6">
  <%= form_with(model: post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-8 sm:mb-10 text-sm sm:text-[16px]">
      <%= f.label :shop_name, t('activerecord.attributes.shop.name'), class: "block font-semibold mb-2 sm:mb-4" %>
      <%= f.text_field :shop_name, placeholder: t('posts.form.shop_name_placeholder'), value: @post.shop_name || @post.shop&.name, class: "input input-bordered w-full bg-white text-sm sm:text-[16px] placeholder:text-sm placeholder:text-placeholder" %>
    </div>
    
    <div class="mb-8 sm:mb-10 text-sm sm:text-[16px]">
      <%= f.label :shop_address, t('activerecord.attributes.shop.address'), class: "block font-semibold mb-2 sm:mb-4" %>
      <%= f.text_field :shop_address, placeholder: t('posts.form.shop_address_placeholder'), value: @post.shop_address || @post.shop&.address, class: "input input-bordered w-full bg-white text-sm sm:text-[16px] placeholder:text-sm placeholder:text-placeholder" %>
    </div>

    <div data-controller="range-slider">
      <div class="mb-8 sm:mb-10 text-sm sm:text-[16px]">
        <%= f.label :sweetness_percentage, t('activerecord.attributes.post.sweetness'), class: "block font-semibold mb-4 sm:mb-6" %>
        <%= f.range_field :sweetness_percentage, in: 0..100, step: 1, class: "w-full custom-range-sweetness", data: { action: "input->range-slider#updateStatus", range_slider_target: "range", attribute: "sweetness" } %>
        <div class="w-full flex text-xs sm:text-sm justify-between px-2 mt-2">
          <div data-range-slider-target="statusText" data-status="mild" data-attribute="sweetness" class="w-1/3 text-center transition-all duration-300"><%= t('enums.post.sweetness.mild') %></div>
          <div data-range-slider-target="statusText" data-status="medium_sweet" data-attribute="sweetness" class="w-1/3 text-center transition-all duration-300"><%= t('enums.post.sweetness.medium_sweet') %></div>
          <div data-range-slider-target="statusText" data-status="sweet" data-attribute="sweetness" class="w-1/3 text-center transition-all duration-300"><%= t('enums.post.sweetness.sweet') %></div>
        </div>
      </div>
    
      <div class="mb-8 sm:mb-10 text-sm sm:text-[16px]">
        <%= f.label :firmness_percentage, t('activerecord.attributes.post.firmness'), class: "block font-semibold mb-4 sm:mb-6" %>
        <%= f.range_field :firmness_percentage, in: 0..100, step: 1, class: "w-full custom-range-firmness", data: { action: "input->range-slider#updateStatus", range_slider_target: "range", attribute: "firmness" } %>
        <div class="w-full flex text-xs sm:text-sm justify-between px-2 mt-2">
          <div data-range-slider-target="statusText" data-status="smooth" data-attribute="firmness" class="w-1/3 text-center transition-all duration-300"><%= t('enums.post.firmness.smooth') %></div>
          <div data-range-slider-target="statusText" data-status="medium_firm" data-attribute="firmness" class="w-1/3 text-center transition-all duration-300"><%= t('enums.post.firmness.medium_firm') %></div>
          <div data-range-slider-target="statusText" data-status="firm" data-attribute="firmness" class="w-1/3 text-center transition-all duration-300"><%= t('enums.post.firmness.firm') %></div>
        </div>
      </div>
    </div>

    <div class="mb-8 sm:mb-10 text-sm sm:text-[16px]">
      <%= f.label :overall_rating, class: "block font-semibold mb-4 sm:mb-6" %>
      <div class="rating rating-lg flex justify-center space-x-2">
        <% Post.overall_ratings.each do |key, value| %>
          <%= f.radio_button :overall_rating, key, class: "mask mask-star-2 bg-accent" %>
        <% end %>
      </div>
    </div>

    <div class="mb-8 sm:mb-10 text-sm sm:text-[16px]">
      <%= f.label :image, class: "block font-semibold mb-2 sm:mb-4" %>
      <%= f.file_field :image, accept: 'image/*', class: "file-input custom-file-input" %>
    </div>

    <div class="mb-8 sm:mb-10 text-sm sm:text-[16px]">
      <%= f.label :body, class: "block font-semibold mb-2 sm:mb-4" %>
      <%= f.text_area :body, placeholder: t('posts.form.body_placeholder'), class: "textarea textarea-bordered w-full bg-white placeholder-placeholder text-sm placeholder:text-placeholder", rows: 4 %>
    </div>

    <div class="text-center">
      <%= f.submit t('defaults.post'), class: "btn btn-primary text-white w-28" %>
    </div>
  <% end %>
</div>