<div class="bg-base-100 p-6 rounded-md">
  <%= form_with(model: post, local: true, multipart: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-4">
      <%= f.label :shop_name, "お店", class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_field :shop_name, value: @post.shop_name || @post.shop&.name, class: "input input-bordered w-full bg-white" %>
    </div>
    
    <div class="mb-4">
      <%= f.label :shop_address, "住所", class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_field :shop_address, value: @post.shop_address || @post.shop&.address, class: "input input-bordered w-full bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :sweetness, "甘さ", class: "block text-neutral font-semibold mb-2" %>
      <%= f.select :sweetness, 
                   Post.sweetnesses.keys.map { |s| [I18n.t("enums.post.sweetness.#{s}"), s] }, 
                   { prompt: "選択してください" }, 
                   class: "select select-bordered w-full bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :firmness, "固さ", class: "block text-neutral font-semibold mb-2" %>
      <%= f.select :firmness, 
                   Post.firmnesses.keys.map { |f| [I18n.t("enums.post.firmness.#{f}"), f] }, 
                   { prompt: "選択してください" }, 
                   class: "select select-bordered w-full bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :overall_rating, "総合評価", class: "block text-neutral font-semibold mb-2" %>
      <div class="rating rating-lg flex justify-center space-x-2">
        <% Post.overall_ratings.each do |key, value| %>
          <%= f.radio_button :overall_rating, key, class: "mask mask-star-2 bg-accent" %>
        <% end %>
      </div>
    </div>

    <div id="image-upload-container" class="mb-4" data-image-count="<%= @post.post_images.size %>">
      <%= f.label :post_images, "画像（最大3枚）", class: "block text-neutral font-semibold mb-2" %>
      <%= f.fields_for :post_images do |image_form| %>
        <div class="mb-2 relative">
          <label for="<%= image_form.object_name %>_image" class="file-input-label flex cursor-pointer">
            <span class="flex-none px-4 py-2 rounded-l bg-main text-white">ファイルを選択</span>
            <span class="flex-grow px-4 py-2 rounded-r bg-white text-placeholder truncate" data-file-name>
              <%= image_form.object.image.present? ? image_form.object.image.file.filename : 'ファイルが選択されていません' %>
            </span>
          </label>
          <%= image_form.file_field :image, class: "hidden image-upload", accept: 'image/*' %>
          <% if image_form.object.persisted? && image_form.object.image.present? %>
            <%= image_tag image_form.object.image.url, class: "mt-2 w-24 h-24 object-cover rounded" %>
            <%= image_form.check_box :_destroy %>
            <%= image_form.label :_destroy, "削除", class: "ml-2" %>
          <% end %>
        </div>
      <% end %>
      <div class="flex justify-center mt-2">
        <button type="button" id="add-image-btn" class="btn btn-ghost btn-circle btn-sm text-accent hover:bg-accent hover:text-white transition-colors duration-300">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="mb-6">
      <%= f.label :body, "コメント", class: "block text-neutral font-semibold mb-2" %>
      <%= f.text_area :body, placeholder: "プリンやお店の詳細を入力してください", class: "textarea textarea-bordered w-full bg-white placeholder-placeholder", rows: 4 %>
    </div>

    <div class="text-center">
      <%= f.submit "投稿", class: "btn btn-primary text-white w-28" %>
    </div>
  <% end %>
</div>