<%= turbo_frame_tag dom_id(post) do %>
  <div class="card bg-white shadow-lg mb-6 mx-auto flex-shrink px-0 max-w-sm sm:max-w-2xl relative">
    <!-- 編集・削除ボタンまたはブックマーク -->
    <% if user_signed_in? && current_user.own?(post) %>
      <div class="absolute top-6 right-6 flex space-x-2 z-[5]">
        <%= link_to edit_post_path(post), class: "text-accent hover:text-hover", id: "button-edit-#{post.id}", data: { turbo_frame: "_top" } do %>
          <i class="fas fa-edit text-2xl"></i>
        <% end %>
        <%= link_to post_path(post), class: "text-accent hover:text-hover", id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
          <i class="fas fa-trash text-2xl"></i>
        <% end %>
      </div>
    <% else %>
      <div class="absolute top-6 right-6 flex space-x-2 z-[5]">
        <% if user_signed_in? %>
          <%= render 'posts/bookmark_buttons', { post: post } %>
        <% end %>
      </div>
    <% end %>
    <div class="card-body p-4 sm:p-5">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-2/5">
          <!-- ユーザー情報 -->
          <div class="flex items-center">
            <div class="w-10 h-10 rounded-full overflow-hidden mr-2 flex-shrink-0">
              <% if post.user.avatar.attached? %>
                <%= image_tag post.user.avatar.variant(resize_to_fill: [48, 48]), class: "w-full h-full object-cover" %>
              <% else %>
                <%= image_tag "default_avatar.png", class: "w-full h-full object-cover" %>
              <% end %>
            </div>
            <div class="flex flex-col justify-center overflow-hidden">
              <p class="text-sm font-semibold truncate max-w-[120px] sm:max-w-[150px]"><%= post.user.name %></p>
              <p class="text-xs text-subtleText pl-0.5"><%= post.created_at.strftime("%Y/%m/%d") %></p>
            </div>
          </div>
          <!-- 画像ー -->
          <div class="aspect-square overflow-hidden pt-4">
            <% if post.image.attached? %>
              <%= image_tag post.image.variant(resize_to_fill: [800, 800], format: :webp), class: "w-full h-full object-cover" %>
            <% else %>
              <%= image_tag "default_image.png", class: "w-full h-full object-cover" %>
            <% end %>
          </div>
        </div>
        <div class="w-full sm:w-3/5 p-4">
          <h2 class="text-xs md:text-sm text-subtleText mt-2 mb-1 sm:mb-2 text-center sm:text-left"><%= t("enums.post.category.#{post.category}") %></h2>
          <h1 class="text-xl sm:text-2xl font-bold mb-3 text-center sm:text-left">
            <%= link_to post.shop.name, post_path(post), data: { turbo_frame: "_top" } %>
          </h1>
          <div class="flex justify-center sm:justify-start mb-4 space-x-1">
            <% Post.overall_ratings.size.times do |i| %>
              <span 
                class="inline-block w-6 h-6 sm:w-7 sm:h-7 mask mask-star-2 <%= i < Post.overall_ratings[post.overall_rating] ? 'bg-accent' : 'bg-placeholder' %>"
                aria-hidden="true"
              ></span>
            <% end %>
          </div>
          <div class="flex flex-wrap justify-center sm:justify-start items-center mb-3 text-sm sm:text-[18px] text-center sm:text-left">
            <div class="flex items-center">
              <div class="tooltip" data-tip="<%= t("tooltips.sweetness", percentage: post.sweetness_percentage) %>">
                <span class="badge text-xs sm:text-sm py-2 sm:py-2.5 <%= sweetness_badge_color(post.sweetness) %> mr-0.5 sm:mr-1"><%= t("enums.post.sweetness.#{post.sweetness}") %></span>
              </div>
            </div>
            <div class="flex items-center">
              <div class="tooltip" data-tip="<%= t("tooltips.firmness", percentage: post.firmness_percentage) %>">
                <span class="badge text-xs sm:text-sm py-2 sm:py-2.5 <%= firmness_badge_color(post.firmness) %>"><%= t("enums.post.firmness.#{post.firmness}") %></span>
              </div>
            </div>
          </div>
          <% if post.shop&.address.present? %>
            <p class="mb-2 sm:ml-1 text-sm sm:text-[16px] text-subtleText">
              <i class="fa fa-map-marker-alt mr-2 text-accent"></i><%= post.shop.address %>
            </p> 
          <% end %>
          <p class="sm:ml-0.5 text-sm sm:text-[16px] text-text text-opacity-80"><%= post.body.truncate(55) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>