<div class="card bg-base-100 shadow-md mb-4">
  <div class="card-body flex">
    <div class="w-1/4">
      <div class="bg-gray-300 h-24 w-24"></div>
    </div>
    <div class="w-3/4 pl-4">
      <h2 class="text-lg font-bold"><%= post.shop&.name || "お店" %></h2>
      <div class="rating">
        <%= display_stars(@post.overall_rating) %>
      </div>
      <p>固さ: <%= Post.firmnesses[post.firmness] %> | 甘さ: <%= Post.sweetnesses[post.sweetness] %></p>
      <p><i class="fa fa-map-marker-alt"></i> <%= post.shop&.address || "" %></p>
    </div>
  </div>
</div>