<div id="map-container" class="h-screen w-screen flex flex-col">
  <input id="address" type="textbox" value="" class="m-2.5">
  <input type="button" value="送信" onclick="codeAddress()" class="m-2.5">
  <input type="button" value="現在地を表示" onclick="showCurrentLocation()" class="m-2.5">
  <div id="map" class="flex-grow w-full"></div>
</div>

<dialog id="post_modal" class="modal">
    <div class="modal-box">
        <div class="post_show"></div>
    </div>
</dialog>

<script>
let map, marker;

const latlngDis = document.getElementById('latlngDisplay');
const addressDis = document.getElementById('addressDisplay');
const iconImage = 'https://maps.google.com/mapfiles/ms/micons/yellow-dot.png';
const currentLocation = 'https://www.google.com/mapfiles/marker.png';

function initMap() {
  const geocoder = new google.maps.Geocoder();

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
  });

  showCurrentLocation();
  setShopMarkers();

  document.addEventListener('click', function(event) {
    const modal = document.getElementById('post_modal');
    if (event.target === modal) {
      modal.close();
    }
  });
}

function setShopMarkers() {
  <% @posts.each do |post| %>
    (() => {
      let shopMarker = new google.maps.Marker({
        position: {lat: <%= post.shop.latitude %>, lng: <%= post.shop.longitude %>}, 
        map: map,
        title: '<%= j post.shop.name %>',
        icon: iconImage
      });

      shopMarker.addListener('click', function() {
        const modalContent = `
          <h3 class="font-bold text-lg"><%= j post.shop.name %></h3>
          <p><%= j post.body %></p>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn">閉じる</button>
            </form>
          </div>
        `;
        document.querySelector('.post_show').innerHTML = modalContent;
        document.getElementById('post_modal').showModal();
      });
    })();
  <% end %>
}

function codeAddress() {
    const geocoder = new google.maps.Geocoder();
    const inputAddress = document.getElementById('address').value;
    geocoder.geocode({ 'address': inputAddress }, function(results, status) {
        if (status === 'OK') {
        map.setCenter(results[0].geometry.location);
        marker.setPosition(results[0].geometry.location);
        latlngDis.innerHTML = `Latitude: ${results[0].geometry.location.lat()}, Longitude: ${results[0].geometry.location.lng()}`;
        addressDis.innerHTML = results[0].formatted_address;
        } else {
        alert("該当する結果がありませんでした：" + status);
        }
    });
}

function showCurrentLocation(){
    // ユーザーの現在地を取得してマップに設定
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
        const userLocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        };
        map.setCenter(userLocation);
        if (marker) {
            marker.setMap(null);
        }
        
        // 新しいマーカーを作成
        marker = new google.maps.Marker({
            position: userLocation,
            map: map,
            icon: currentLocation // 現在地用のアイコンを使用
        });
        latlngDis.innerHTML = `Latitude: ${userLocation.lat}, Longitude: ${userLocation.lng}`;
        }, function() {
        alert('位置情報の取得に失敗しました。');
        map.setCenter({ lat: 35.6803997, lng: 139.7690174 }); // 東京の座標
        });
    } else {
      // Geolocationがサポートされていないブラウザの場合
        alert('お使いのブラウザでは地理位置情報の取得がサポートされていません。');
      map.setCenter({ lat: 35.6803997, lng: 139.7690174 }); // 東京の座標
    };
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>