<% content_for(:title, @post.shop.name) %>
<% content_for :head do %>
  <% assign_meta_tags(
    title: "#{@post.shop.name} | PurinMania",
    description: @post.body.truncate(25),
    post: @post
  ) %>
<% end %>

<div class="container mx-auto sm:py-8 max-w-xl sm:max-w-3xl">
  <div class="bg-white sm:shadow-lg sm:rounded-lg overflow-hidden">
    <!-- ユーザー情報とアクションボタン -->
    <div class="py-3 px-3 sm:py-6 sm:px-6 flex justify-between items-center mb-3">
      <div class="flex items-center">
        <div class="w-10 h-10 sm:w-12 sm:h-12 rounded-full overflow-hidden mr-2 flex-shrink-0">
          <% if @post.user.avatar.attached? %>
            <%= link_to image_tag(@post.user.avatar.variant(resize_to_fill: [48, 48]), class: "w-full h-full object-cover"), user_profile_path(@post.user.username) %>
          <% else %>
            <%= link_to image_tag("default_avatar.png", class: "w-full h-full object-cover"), user_profile_path(@post.user.username) %>
          <% end %>
        </div>
        <div class="flex flex-col justify-center">
          <%= link_to @post.user.nickname, user_profile_path(@post.user.username), class: "text-[12px] sm:text-[14px] truncate max-w-[120px] sm:max-w-[200px]" %>
          <p class="text-xs sm:text-sm text-subtleText whitespace-nowrap pl-0.5"><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
        </div>
      </div>
      <!-- 編集・削除ボタン -->
      <% if user_signed_in? && current_user.own?(@post) %>
        <div class="flex space-x-3">
          <%= link_to edit_post_path(@post), class: "text-accent hover:text-hover", id: "button-edit-#{@post.id}", data: { turbo_frame: "_top" } do %>
            <i class="fas fa-edit text-[18px] sm:text-[20px]"></i>
          <% end %>
          <%= link_to post_path(@post), class: "text-accent hover:text-hover", id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm'),turbo_frame: "_top" } do %>
            <i class="fas fa-trash text-[18px] sm:text-[20px] mr-2"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- カテゴリー -->
    <h2 class="text-[12px] md:text-[14px] text-subtleText mt-2 mb-1 sm:mb-2 text-center"><%= t("enums.post.category.#{@post.category}") %></h2>

    <!-- 店舗名 -->
    <h1 class="text-xl md:text-[26px] font-bold mb-2 sm:mb-6 text-center"><%= @post.shop.name %></h1>

    <!-- 投稿画像 -->
    <% if @post.image.attached? %>
      <div class="sm:mx-6 mx-auto aspect-square rounded-sm flex items-center justify-center mb-2 sm:mb-3 overflow-hidden">
        <%= image_tag @post.image.variant(resize_to_fill: [1200, 1200], format: :webp), class: "w-full h-full object-cover" %>
      </div>
    <% end %>

    <!-- ブックマークといいね -->
    <% if user_signed_in? %>
      <div class="flex justify-end mb-2 sm:mb-4 px-4 sm:px-6">
        <div class="flex items-center mr-1">
          <div class="mr-1">
            <%= render 'posts/like_buttons', { post: @post } %>
          </div>
          <div class="text-xs text-gray-500 w-[2ch] text-left cursor-pointer hover:underline" onclick="like_modal_<%= @post.id %>.showModal()" id="like-count-<%= @post.id %>">
            <%= @post.likes.count %>
          </div>
          <%= render 'posts/like_modal', post: @post %>
        </div>
        <% if @post.user != current_user %>
          <div class="mr-3">
            <%= render 'bookmark_buttons', { post: @post } %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="flex items-center justify-end mb-2 sm:mb-4 px-6">
        <div class="text-sweetDeep mr-1">
          <i class="far fa-heart text-[18px] sm:text-[20px]"></i>
        </div>
        <div class="text-xs text-gray-500 w-[2ch] text-left" id="like-count-<%= @post.id %>">
          <%= @post.likes.count %>
        </div>
      </div>
    <% end %>

    <!-- コメント -->
    <div class="px-6 md:px-12 lg:px-16 pb-2 flex justify-center">
      <div class="max-w-full">
        <%= simple_format(@post.body, class: "text-sm sm:text-[16px] text-left break-words text-text text-opacity-80 inline-block") %>
      </div>
    </div>

    <!-- 評価、甘さ、固さの表示 -->
    <div class="p-4 sm:p-6">
      <!-- 評価 -->
      <div class="mb-6 sm:mb-10">
        <h3 class="text-sm sm:text-[16px] text-subtleText font-semibold mb-3 ml-4 sm:ml-4"><%= t('activerecord.attributes.post.overall_rating') %>:</h3>
        <div class="flex justify-center">
          <% Post.overall_ratings.size.times do |i| %>
            <span 
              class="inline-block w-7 h-7 sm:w-10 sm:h-10 mask mask-star-2 mx-0.5 sm:mx-1 <%= i < Post.overall_ratings[@post.overall_rating] ? 'bg-accent' : 'bg-placeholder' %>"
              aria-hidden="true"
            ></span>
          <% end %>
        </div>
      </div>
    
      <!-- 甘さと固さ -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- 甘さ -->
        <div class="bg-white rounded-sm p-4">
          <div class="flex items-center justify-between mb-4">
            <span class="text-sm sm:text-[16px] text-subtleText font-semibold"><%= t('activerecord.attributes.post.sweetness') %>:</span>
            <span class="badge text-[10px] sm:text-[12px] py-2 sm:py-2.5 <%= sweetness_badge_color(@post.sweetness) %>">
              <%= t("enums.post.sweetness.#{@post.sweetness}") %>
            </span>
          </div>
          <div class="relative">
            <div class="overflow-hidden h-2 mb-3 flex rounded bg-sweetLight">
              <div style="width:<%= @post.sweetness_percentage %>%" class="bg-sweetDeep"></div>
            </div>
            <div class="absolute top-1/2 -translate-y-1/2" style="left: calc(<%= @post.sweetness_percentage %>% - 8px);">
              <div class="w-4 h-4 bg-white rounded-full border-2 border-sweetDeep"></div>
            </div>
          </div>
        </div>
        
        <!-- 固さ -->
        <div class="bg-white rounded-sm p-4">
          <div class="flex items-center justify-between mb-4">
            <span class="text-sm sm:text-[16px] text-subtleText font-semibold"><%= t('activerecord.attributes.post.firmness') %>:</span>
            <span class="badge text-[10px] sm:text-[12px] py-2 sm:py-2.5 <%= firmness_badge_color(@post.firmness) %>">
              <%= t("enums.post.firmness.#{@post.firmness}") %>
            </span>
          </div>
          <div class="relative">
            <div class="overflow-hidden h-2 mb-3 flex rounded bg-firmLight">
              <div style="width:<%= @post.firmness_percentage %>%" class="bg-firmDeep"></div>
            </div>
            <div class="absolute top-1/2 -translate-y-1/2" style="left: calc(<%= @post.firmness_percentage %>% - 8px);">
              <div class="w-4 h-4 bg-white rounded-full border-2 border-firmDeep"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- マップと住所 -->
    <% if @post.shop&.address.present? %>
      <div class="mt-6 relative">
        <div id="map" style="height: 400px; width: 100%;"></div>
        <!-- 住所 -->
        <div class="hidden sm:block absolute top-16 left-2 right-0 bg-white bg-opacity-90 py-4 px-6 w-1/3">
          <div class="font-bold text-[18px] mb-1">
            <%= @post.shop.name %>
          </div>
          <p class="text-[15px]"><%= @post.shop.address %></p>
        </div>
        <!-- スマートフォン用の住所表示 -->
        <div class="sm:hidden py-4 px-6">
          <div class="font-bold text-[15px] mb-0.5">
            <%= @post.shop.name %>
          </div>
          <p class="text-[12px]"><%= @post.shop.address %></p>
        </div>
      </div>
    <% end %>

    <!-- Xシェア -->
    <div class="my-4 sm:my-6 mb-6 sm:mb-8 text-center">
      <% 
        base_url = post_url(@post)
        timestamp = Time.now.to_i
        share_url = "#{base_url}?t=#{timestamp}"
        share_text = URI.encode_www_form_component("【プリン好き必見！】\n#{@post.shop.name}のプリンが美味しいらしい...\n#PurinMania")
        twitter_share_url = "https://twitter.com/intent/tweet?text=#{share_text}&url=#{CGI.escape(share_url)}"
      %>
      <%= link_to twitter_share_url, target: '_blank', rel: 'noopener noreferrer', class: "inline-block rounded-full" do %>
        <i class="fa-brands fa-square-x-twitter text-2xl sm:text-3xl text-accent"></i>
      <% end %>
    </div>
  </div>
</div>

<script>
  let map, marker;

  const iconImage = 'https://maps.google.com/mapfiles/ms/micons/yellow-dot.png';

  function initMap() {
    const shopLocation = {lat: <%= @post.shop.latitude %>, lng: <%= @post.shop.longitude %>};
  
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: shopLocation
    });

    marker = new google.maps.Marker({
      position: shopLocation,
      map: map,
      title: '<%= j @post.shop.name %>',
      icon: iconImage
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" data-turbo-track="reload"></script>