<% content_for(:title, @post.shop.name) %>
<% content_for :head do %>
  <% assign_meta_tags(
    title: "#{@post.shop.name} | PurinMania",
    description: @post.body.truncate(25),
    post: @post
  ) %>
<% end %>

<div class="container mx-auto px-8 sm:px-4 py-6 sm:py-8 max-w-xl sm:max-w-3xl">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden px-6 sm:px-20 py-4 sm:py-6 md:py-10">
    <!-- ユーザー情報とアクションボタン -->
    <div class="p-2 sm:p-4 flex justify-between items-center mb-3 sm:mb-4">
      <div class="flex items-center">
        <div class="w-10 h-10 sm:w-12 sm:h-12 rounded-full overflow-hidden mr-2 flex-shrink-0">
          <% if @post.user.avatar.attached? %>
            <%= image_tag @post.user.avatar.variant(resize_to_fill: [48, 48]), class: "w-full h-full object-cover" %>
          <% else %>
            <%= image_tag "default_avatar.png", class: "w-full h-full object-cover" %>
          <% end %>
        </div>
        <div class="flex flex-col justify-center">
          <p class="text-sm sm:text-[16px] font-semibold truncate max-w-[120px] sm:max-w-[200px]"><%= @post.user.name %></p>
          <p class="text-xs sm:text-sm text-subtleText whitespace-nowrap pl-0.5"><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
        </div>
      </div>
      <!-- 編集・削除ボタンまたはブックマーク -->
      <% if user_signed_in? && current_user.own?(@post) %>
        <div class="flex space-x-2">
          <%= link_to edit_post_path(@post), class: "text-accent hover:text-hover", id: "button-edit-#{@post.id}", data: { turbo_frame: "_top" } do %>
            <i class="fas fa-edit text-2xl sm:text-3xl"></i>
          <% end %>
          <%= link_to post_path(@post), class: "text-accent hover:text-hover", id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm'),turbo_frame: "_top" } do %>
            <i class="fas fa-trash text-2xl sm:text-3xl"></i>
          <% end %>
        </div>
      <% else %>
        <div class="flex space-x-2">  
          <% if user_signed_in? %>
            <%= render 'bookmark_buttons', { post: @post } %>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- 店舗名 -->
    <h1 class="text-2xl md:text-3xl font-bold my-8 text-center"><%= @post.shop.name %></h1>

    <!-- 投稿画像 -->
    <% if @post.image.attached? %>
      <div class="w-11/12 mx-auto aspect-square flex items-center justify-center rounded-lg mt-6 sm:mt-8 mb-6  sm:mb-8 overflow-hidden">
        <%= image_tag @post.image.variant(resize_to_fill: [1000, 1000], format: :webp), class: "w-full h-full object-cover" %>
      </div>
    <% else %>
      <div class="mb-6 sm:mb-8"></div>
    <% end %>

    <!-- コメント -->
    <div class="px-6 md:px-12 lg:px-16 py-4">
      <%= simple_format(@post.body, class: "text-sm sm:text-lg text-left break-words text-text text-opacity-80") %>
    </div>

    <!-- 評価、甘さ、固さの表示 -->
    <div class="bg-base-200 bg-opacity-60 rounded-lg mx-2 md:mx-6 p-4 sm:p-6 my-6">
      <!-- 評価 -->
      <div class="mb-6 sm:mb-10">
        <h3 class="text-sm sm:text-[16px] text-subtleText font-semibold mb-3 ml-1 sm:ml-2"><%= t('activerecord.attributes.post.overall_rating') %></h3>
        <div class="flex justify-center">
          <% Post.overall_ratings.size.times do |i| %>
            <span 
              class="inline-block w-7 h-7 sm:w-10 sm:h-10 mask mask-star-2 mx-0.5 sm:mx-1 <%= i < Post.overall_ratings[@post.overall_rating] ? 'bg-accent' : 'bg-placeholder' %>"
              aria-hidden="true"
            ></span>
          <% end %>
        </div>
      </div>
    
      <!-- 甘さと固さ -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- 甘さ -->
        <div class="bg-white rounded-lg p-4">
          <div class="flex items-center justify-between mb-4">
            <span class="text-sm sm:text-[16px] text-subtleText font-semibold"><%= t('activerecord.attributes.post.sweetness') %>:</span>
            <span class="badge text-[10px] sm:text-[12px] py-2 sm:py-2.5 <%= sweetness_badge_color(@post.sweetness) %>">
              <%= t("enums.post.sweetness.#{@post.sweetness}") %>
            </span>
          </div>
          <div class="relative">
            <div class="overflow-hidden h-2 mb-3 flex rounded bg-sweetLight">
              <div style="width:<%= @post.sweetness_percentage %>%" class="bg-sweetDeep"></div>
            </div>
            <div class="absolute top-1/2 -translate-y-1/2" style="left: calc(<%= @post.sweetness_percentage %>% - 8px);">
              <div class="w-4 h-4 bg-white rounded-full border-2 border-sweetDeep"></div>
            </div>
          </div>
        </div>
        
        <!-- 固さ -->
        <div class="bg-white rounded-lg p-4">
          <div class="flex items-center justify-between mb-4">
            <span class="text-sm sm:text-[16px] text-subtleText font-semibold"><%= t('activerecord.attributes.post.firmness') %>:</span>
            <span class="badge text-[10px] sm:text-[12px] py-2 sm:py-2.5 <%= firmness_badge_color(@post.firmness) %>">
              <%= t("enums.post.firmness.#{@post.firmness}") %>
            </span>
          </div>
          <div class="relative">
            <div class="overflow-hidden h-2 mb-3 flex rounded bg-firmLight">
              <div style="width:<%= @post.firmness_percentage %>%" class="bg-firmDeep"></div>
            </div>
            <div class="absolute top-1/2 -translate-y-1/2" style="left: calc(<%= @post.firmness_percentage %>% - 8px);">
              <div class="w-4 h-4 bg-white rounded-full border-2 border-firmDeep"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4 mx-2 md:mx-6 border-placeholder">

    <!-- 住所 -->
    <% if @post.shop&.address.present? %>
      <div class="px-4 sm:px-8 pb-4 text-sm sm:text-lg text-subtleText">
        <i class="fas fa-map-marker-alt mr-2 text-accent"></i><%= @post.shop.address %>
      </div>
    <% end %>

    <!-- Xシェア -->
    <div class="mt-4 sm:mt-6 mb-2 text-center">
      <% 
        base_url = post_url(@post)
        timestamp = Time.now.to_i
        share_url = "#{base_url}?t=#{timestamp}"
        share_text = URI.encode_www_form_component("【プリン好き必見！】\n#{@post.shop.name}のプリンが美味しいらしい...\n#PurinMania")
        twitter_share_url = "https://twitter.com/intent/tweet?text=#{share_text}&url=#{CGI.escape(share_url)}"
      %>
      <%= link_to twitter_share_url, target: '_blank', rel: 'noopener noreferrer', class: "inline-block rounded-full" do %>
        <i class="fa-brands fa-square-x-twitter text-2xl sm:text-3xl text-accent"></i>
      <% end %>
    </div>
  </div>
</div>